/*
Theme Name: Dungtest
Theme URI: https://dungtest.local
Author: Dung
Author URI: https://dungtest.local
Version: 1.0
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

*:focus {
    outline: none
}

html {
    margin: 0;
}

a {
    text-decoration: none
}

@font-face {
    font-family: 'SFU Futura';
    src: url('assets/fonts/SFUFuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('assets/fonts/SFUFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VNF-Aire Roman Std';
    src: url('assets/fonts/VNF-AireRomanStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --main-color: #EE365D;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #F4F4F4;
    --font-SFU : "SFU Futura", sans-serif;
}

.l-container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

body {
    font-family: var(--font-SFU);
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    font-weight: 500;
    background-color: var(--bg-main);
}

a {
    text-decoration: none;
    color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: var(--font-SFU);
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul,
li {
    list-style: none;
}


/* Menu */


/* Menu */

.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-menu .menu-item {
    padding: 16px;
}

.main-menu .menu-item-has-children {
    position: relative;
}

.main-menu .menu-item a {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 7px 10px;
    transition: .5s;
    position: relative;
    color: var(--white2-color);
    display: block;
}

.main-menu .menu-item a:hover {
    color: var(--white-color);
}

.main-menu .menu-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 2px;
    background: var(--white-color);
    transition: .5s;
    width: 100%;
    transform: rotateY(90deg);
}

.main-menu .menu-item a:hover:before {
    transform: rotateY(0deg);
}

.main-menu .sub-menu {
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: var(--primary-color);
    width: 240px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(30px);
}

.main-menu .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}

.main-menu .sub-menu a {
    display: block;
    color: var(--white-color);
}

.main-menu .sub-menu .menu-item {
    padding: 8px 16px;
    position: relative;
}

.main-menu .sub-menu .menu-item .sub-menu {
    position: absolute;
    top: 0%;
    left: 101%;
    background-color: var(--primary-color);
    width: 240px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(30px);
}

.main-menu .menu-item .sub-menu .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .header-top .icon-menu {
    display: none;
}


/* Menu Mobile */


/* End Menu */


/* Responsive */

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 650px) {}

@media (max-width: 574px) {}