@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VNF-Aire Roman Std';
    src: url('VNF-AireRomanStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

